<?page id="pgIndex" title="Tutorial @2013.03.17 w.ZK.${desktop.webApp.version}" contentType="text/html;charset=UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">
	<style src="../css/cococare.css" />
	<window id="ZulIndex" border="normal" hflex="1" vflex="1">
		<tabbox hflex="1" vflex="1">
			<tabs>
				<tab label="List Sample" />
				<tab label="Form Sample" />
			</tabs>
			<tabpanels>
				<tabpanel>
					<tabbox hflex="1" vflex="1">
						<tabs>
							<tab label="Pure ZK" />
							<tab label="Composer" />
							<tab label="CCTable 1" />
							<tab label="CCTable 2" />
							<tab label="CCTable 3" />
						</tabs>
						<tabpanels>
							<tabpanel>
								<tabbox hflex="1" vflex="1">
									<tabs>
										<tab label="Grid" />
										<tab label="Listbox" />
										<tab label="Tree" />
									</tabs>
									<tabpanels>
										<tabpanel>
											<include src="/tutorial/ZulListPureZKGrid.zul" />
										</tabpanel>
										<tabpanel>
											<include src="/tutorial/ZulListPureZKListbox.zul" />
										</tabpanel>
										<tabpanel>
											<include src="/tutorial/ZulListPureZKTree.zul" />
										</tabpanel>
									</tabpanels>
								</tabbox>
							</tabpanel>
							<tabpanel>
								<tabbox hflex="1" vflex="1">
									<tabs>
										<tab label="Grid" />
										<tab label="Listbox" />
										<tab label="Tree" />
									</tabs>
									<tabpanels>
										<tabpanel>
											<include src="/tutorial/ZulListComposerGrid.zul" />
										</tabpanel>
										<tabpanel>
											<include src="/tutorial/ZulListComposerListbox.zul" />
										</tabpanel>
										<tabpanel>
											<include src="/tutorial/ZulListComposerTree.zul" />
										</tabpanel>
									</tabpanels>
								</tabbox>
							</tabpanel>
							<tabpanel>
								<tabbox hflex="1" vflex="1">
									<tabs>
										<tab label="Grid" />
										<tab label="Listbox" />
										<tab label="Tree" />
									</tabs>
									<tabpanels>
										<tabpanel>
											<include src="/tutorial/ZulListCCTable1Grid.zul" />
										</tabpanel>
										<tabpanel>
											<include src="/tutorial/ZulListCCTable1Listbox.zul" />
										</tabpanel>
										<tabpanel>
											<include src="/tutorial/ZulListCCTable1Tree.zul" />
										</tabpanel>
									</tabpanels>
								</tabbox>
							</tabpanel>
							<tabpanel>
								<tabbox hflex="1" vflex="1">
									<tabs>
										<tab label="Grid" />
										<tab label="Listbox" />
										<tab label="Tree" />
									</tabs>
									<tabpanels>
										<tabpanel>
											<include src="/tutorial/ZulListCCTable2Grid.zul" />
										</tabpanel>
										<tabpanel>
											<include src="/tutorial/ZulListCCTable2Listbox.zul" />
										</tabpanel>
										<tabpanel>
											<include src="/tutorial/ZulListCCTable2Tree.zul" />
										</tabpanel>
									</tabpanels>
								</tabbox>
							</tabpanel>
							<tabpanel>
								<tabbox hflex="1" vflex="1">
									<tabs>
										<tab label="Grid" />
										<tab label="Listbox" />
										<tab label="Tree" />
									</tabs>
									<tabpanels>
										<tabpanel>
											<include src="/tutorial/ZulListCCTable3Grid.zul" />
										</tabpanel>
										<tabpanel>
											<include src="/tutorial/ZulListCCTable3Listbox.zul" />
										</tabpanel>
										<tabpanel>
											<include src="/tutorial/ZulListCCTable3Tree.zul" />
										</tabpanel>
									</tabpanels>
								</tabbox>
							</tabpanel>
						</tabpanels>
					</tabbox>
				</tabpanel>
				<tabpanel>
					<tabbox hflex="1" vflex="1">
						<tabs>
							<tab label="Pure ZK" />
							<tab label="Composer" />
							<tab label="CCEditor 1" />
							<tab label="CCEditor 2" />
						</tabs>
						<tabpanels>
							<tabpanel>
								<include src="/tutorial/ZulFormPureZK.zul" />
							</tabpanel>
							<tabpanel>
								<include src="/tutorial/ZulFormComposer.zul" />
							</tabpanel>
							<tabpanel>
								<include src="/tutorial/ZulFormCCEditor1.zul" />
							</tabpanel>
							<tabpanel>
								<include src="/tutorial/ZulFormCCEditor2.zul" />
							</tabpanel>
						</tabpanels>
					</tabbox>
				</tabpanel>
			</tabpanels>
		</tabbox>
	</window>
</zk>