<?page id="pgIndex" title="Tutorial @2013.03.17 w.ZK.${desktop.webApp.version}" contentType="text/html;charset=UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">
	<style src="../css/cococare.css" />
	<window id="ZulIndex" border="normal" hflex="1" vflex="1" apply="tutorial.ZulListCCTable2Ctrl">
		<grid id="meshElement" hflex="1" vflex="1" />
	</window>
</zk>