@charset "utf-8";

/* Selectors All */
* {
    margin: 0;
    padding: 0;
}

/* Selectors Element : Body */
body {
    background: #333;
}

/* Selectors Element : Default Font */
.z-a
,.z-bandbox-inp
,.z-button .z-button-cm
,.z-checkbox-cnt
,.z-combobox-inp
,.z-datebox-inp
,.z-decimalbox
,.z-doublebox
,.z-intbox
,.z-longbox
,.z-label
,div.z-listcell-cnt,div.z-listfooter-cnt
,.z-paging input.z-paging-inp,.z-paging span,.z-paging div.z-paging-info
,.z-radio-cnt
,.z-spinner-inp 
,.z-textbox
,.z-timebox-inp {
    font-family: tahoma, arial, sans-serif;
    font-size: 12px;
}

.z-button .z-button-cm {
    font-weight: bold;
}

/* Selectors Element : Default Height */
input[type="checkbox"],input[type="radio"] {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.z-bandbox-inp
,.z-button .z-button-cm
,.z-checkbox-cnt
,.z-combobox-inp
,.z-datebox-inp
,.z-decimalbox
,.z-doublebox
,.z-intbox
,.z-longbox
,.z-radio-cnt
,.z-textbox {
    height: 25px;
}

.z-spinner-inp,.z-timebox-inp {
    height: 25px;
    width: 18px;
}

.z-bandbox .z-bandbox-btn
,.z-combobox .z-combobox-btn
,.z-datebox .z-datebox-btn {
    background-size: 117px 30px;
    height: 30px;
    width: 25px;
}

.z-spinner .z-spinner-btn
,.z-timebox .z-timebox-btn {
    height: 29px;
    width: 18px;
}

.z-bandbox .z-bandbox-btn,.z-bandbox-focus .z-bandbox-btn
,.z-combobox .z-combobox-btn,.z-combobox-focus .z-combobox-btn
,.z-datebox .z-datebox-btn,.z-datebox-focus .z-datebox-btn {
    background-position: -69px -0px;
}

.z-bandbox .z-bandbox-btn-over,.z-bandbox-focus .z-bandbox-btn-over
,.z-combobox .z-combobox-btn-over,.z-combobox-focus .z-combobox-btn-over
,.z-datebox .z-datebox-btn-over,.z-datebox-focus .z-datebox-btn-over
{
    background-position: -22px -0px;
}

.z-bandbox .z-bandbox-btn-clk,.z-bandbox-focus .z-bandbox-btn-clk
,.z-combobox .z-combobox-btn-clk,.z-combobox-focus .z-combobox-btn-clk
,.z-datebox .z-datebox-btn-clk,.z-datebox-focus .z-datebox-btn-clk {
    background-position: -45px -0px;
}

.z-spinner .z-spinner-btn-upper,.z-spinner .z-spinner-btn-lower
,.z-timebox .z-timebox-btn-upper,.z-timebox .z-timebox-btn-lower {
    height: 14px;
    width: 18px;
    background-size: 117px 14px;
    background-position: -11px -0px;
}

.z-spinner .z-spinner-btn-over .z-spinner-btn-upper,.z-spinner .z-spinner-btn-over .z-spinner-btn-lower
,.z-timebox .z-timebox-btn-over .z-timebox-btn-upper,.z-timebox .z-timebox-btn-over .z-timebox-btn-lower
{
    background-position: -50px -0px;
}

.z-spinner .z-spinner-btn-over .z-spinner-btn-up-clk,.z-spinner .z-spinner-btn-over .z-spinner-btn-down-clk
,.z-timebox .z-timebox-btn-over .z-timebox-btn-up-clk,.z-timebox .z-timebox-btn-over .z-timebox-btn-down-clk
{
    background-position: -89px -0px;
}

/* Selectors Element : Default Width */
.z-button {
    width: 100px;
}

.txtKeyword {
    width: 150px;
}

/* Selectors Element : A Behavior */
a
,.z-a 
,div.z-listcell-cnt a {
    color: #09F;
    font-weight: bold;
    text-decoration: none;
}

div.z-listcell-cnt a {
    text-transform: uppercase;
}

a:hover
,.z-a:hover
,div.z-listcell-cnt a:hover {
    color: #06F;
    text-decoration: underline;
}

/* Selectors Class : Bandbox */
.txtKeyword .z-bandbox-inp {
    border: 1px #000 solid;
}

/* Selectors Element : Borderlayout */
.z-borderlayout {
    background-color: #272727;
    border: 0;
}

/* Selectors Class : Grid */
.input-field tr.z-row td.z-row-inner
,.input-field tr.z-row .z-cell
,.input-field tr.z-row .z-label
,.input-field tr.z-row .z-checkbox-cnt
,.input-field tr.z-grid-odd td.z-row-inner
,.input-field tr.z-grid-odd .z-cell
,.input-field tr.z-grid-odd {
    background: none;
    border: none;
    color: black;
    font-weight: bold;
}

/* Selectors Element : Menubar */
.menu-space {
    width: 100%;
}

.menu-space .z-menu-item-cnt {
    display: none;
}

.aMenuBarV .z-vlayout-inner {
    margin-top: 5px;
}

.aMenuBarV .z-hbox
,.aMenuBarV .z-button
,.aMenuBarV .z-separator-hor-bar {
    margin-top: -4px;
}

.aMenuBarV .z-button .z-button-cm {
    height: 12px;
    text-align: left;
    text-transform: capitalize;
}